.cap{
    margin-left: 70px;
    margin-bottom: -1px;
    font-weight: bold;
    font-size: 20px;
}
table tr:first-child{
    background-color: #6e6a6a;
    color: #ffffff;
}

table{
    border-color: white ;
    outline: 2px solid gray;
}
tr:nth-child(odd){
    background-color: rgb(190, 187, 187);
}
tr:nth-child(even){
    background-color: rgb(238, 229, 229);
}